<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="zdsimScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="SendKeys" value="SendInput"/>
  </appSettings>
  <userSettings>
    <zdsimScanner.Properties.Settings>
      <setting name="delay_send" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Time" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="skor_COM" serializeAs="String">
        <value>56000</value>
      </setting>
      <setting name="tok_ept" serializeAs="String">
        <value>26,2</value>
      </setting>
      <setting name="napr_ks" serializeAs="String">
        <value>11,5</value>
      </setting>
      <setting name="napr_td" serializeAs="String">
        <value>2,6</value>
      </setting>
      <setting name="tok" serializeAs="String">
        <value>6,5</value>
      </setting>
      <setting name="pnevmatika" serializeAs="String">
        <value>38,8</value>
      </setting>
      <setting name="delay_motor" serializeAs="String">
        <value>3300</value>
      </setting>
      <setting name="bdit" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="delay_send_HID" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="joystick_shum" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="COM" serializeAs="String">
        <value>COM порт</value>
      </setting>
      <setting name="i_priem_peredacha" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="skor_tek" serializeAs="String">
        <value>1,475</value>
      </setting>
      <setting name="chs7_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs8_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="vl11_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="vl82_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="vl80t_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="i_dvery_control_off_settings" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="tem18_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="tem18_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="tem18_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_tem18_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="i_sound_peredacha" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="controls_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="es5k_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ep1m_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs2k_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs4_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs4kvr_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs4t_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs7_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs8_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="vl11_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="vl82_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="vl80t_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="vl85_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="tep70_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="te10u_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="m62_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ed4m_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ed9m_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="controls_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="es5k_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ep1m_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs2k_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs4_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs4kvr_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs4t_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="vl85_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="tep70_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="te10u_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="m62_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ed4m_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ed9m_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ARx_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ARy_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ARz_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AX_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AY_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AZ_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FRx_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FRy_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FRz_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FX_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FY_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FZ_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Rx_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Ry_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Rz_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="VRx_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="VRy_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="VRz_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="VX_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="VY_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="VZ_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="X_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Y_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Z_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="POV_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Slider_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ASlider_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FSlider_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="VSlider_point_buffer_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="controls_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="es5k_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ep1m_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs2k_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs4_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs4kvr_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs4t_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs7_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="chs8_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="vl11_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="vl82_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="vl80t_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="vl85_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="tep70_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="te10u_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="m62_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ed4m_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ed9m_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_controls_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_es5k_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_ep1m_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_chs2k_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_chs4_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_chs4kvr_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_chs4t_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_chs7_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_chs8_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_vl11_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_vl82_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_vl80t_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_vl85_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_tep70_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_te10u_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_m62_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_ed4m_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_ed9m_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="temp_string_buffer_start" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="neshtatki_buffer_key_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="neshtatki_buffer_axis_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="neshtatki_buffer_axis_settings2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_neshtatki_axis_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_controls_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_neshtatki_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_es5k_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_ep1m_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_chs2k_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_chs4_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_chs4kvr_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_chs4t_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_chs7_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_chs8_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_vl11_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_vl82_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_vl80t_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_vl85_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_tep70_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_te10u_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_m62_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_ed4m_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_ed9m_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sb_tem18_wav_path_data_settings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>start</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="step_steper_motor" serializeAs="String">
        <value>3200</value>
      </setting>
    </zdsimScanner.Properties.Settings>
  </userSettings>
</configuration>
